@import 'css/typography.css';

island-exploration {
  display: grid;
  grid-template:
    "header   controls" auto 
    "game     game"   1fr 
  / 1fr       2fr;

  .grid {
    display: grid;
    grid-area: game;
  }


  h1 {
    font-family: Pirate Scroll;
  }
  .cell {
    width: 20px;
    height: 20px;
    display: grid;
    place-content: center;
  }
  .land {
    background-color: green;
  }
  .water {
    background-color: blue;
  }
  .player {
    background-color: red;
  }
  .treasure {
    background-color: gold;
  }
  .boat {
    /* background-color: brown; */
  }
  .enemy {
    background-color: black;
  }
}